<title>Messaging Site - Sign Up </title>

<div style="text-align: center;">
    <h1>Welcome to Web Messenger</h1>
    <h2>Register</h2>

    <form id="signupForm" style="margin-top: 30px;" action="/auth/signup" method="POST">
        <input type="text" name="firstName" value="<%= defaults ? defaults.firstName : '' %>" placeholder="First name"
            style="margin-bottom: 15px;" required>
        <input type="text" name="lastName" value="<%= defaults ? defaults.lastName : '' %>" placeholder="Last name"
            style="margin-bottom: 20px;" required>
        <input type="text" name="username" value="<%= defaults ? defaults.username : '' %>" placeholder="Username"
            style="margin-bottom: 20px;" required>
        <input type="email" name="email" value="<%= defaults ? defaults.email : '' %>" placeholder="Email"
            style="margin-bottom: 15px;" required>
        <input type="password" id="password" value="<%= defaults ? defaults.password : '' %>" name="password"
            placeholder="Password" style="margin-bottom: 20px;" required>
        <!-- Do not refill confirmation field. Let user retype it -->
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
            style="margin-bottom: 20px;" required>

        <div style="display: flex; gap: 15px; justify-content: center;">
            <button type="submit" class="btn" style="margin-top: 0;">Sign Up</button>
            <button type="button" class="btn" onclick="window.location.href='/auth/login'" style="margin-top: 0;">
                Go to Login</button>
        </div>

        <% if (typeof error !=='undefined' && error) { %>
            <p style="color: #ff4444; margin-top: 20px; font-size: 0.95rem;">
                <%= error %>
            </p>
            <% } %>

    </form>
</div>

<script>
    const form = document.getElementById('signupForm');
    form.addEventListener('submit', function (event) {
        const password = document.getElementById('password').value;
        const confirm = document.getElementById('confirmPassword').value;

        if (password !== confirm) {
            event.preventDefault();
            alert("Passwords do not match!");
        }
    });
</script>
