<% layout='layout' %>
    <% title='About' %>

        <% if (notification) { %>
            <div id="notificationAlert" class="alert alert-success alert-dismissible fade show" role="alert"
                style="position: fixed; top: 20px; left: 50%; transform: translateX(-50%);">
                <%= notification %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>


                <div class="container mt-4">

                    <h1 class="text-center mb-4">Your Profile</h1>

                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Username:</strong>
                            <%= user.username %>
                        </li>
                        <li class="list-group-item"><strong>First Name:</strong>
                            <%= user.firstName %>
                        </li>
                        <li class="list-group-item"><strong>Last name:</strong>
                            <%= user.lastName %>
                        </li>
                        <li class="list-group-item"><strong>Email:</strong>
                            <%= user.email %>
                        </li>
                        <li class="list-group-item"><strong>User since:</strong>
                            <%= new Date(user.createdAt).toLocaleDateString("en-US", { weekday: "long" , year: "numeric"
                                , month: "long" , day: "numeric" }); %>
                        </li>

                    </ul>
                    <div class="d-flex flex-column gap-2">
                        <a href="/users/change-email" class="btn btn-secondary w-100">Change Email</a>
                        <a href="/users/change-password" class="btn btn-secondary w-100">Change Password</a>
                        <form action="/auth/logout" method="POST" class="mt-2">
                            <button type="submit" class="btn btn-warning w-100">Log Out</button>
                        </form>

                        <form action="/users" method="POST" class="delete-form mt-2"
                            messageForConfirm="delete your account (This action cannot be reversed and will permanently delete all your conversations)">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger w-100">Delete Account</button>
                        </form>
                    </div>

                </div>

                <script>
                    // to display message for a few seconds on email and password change
                    document.addEventListener("DOMContentLoaded", function () {
                        const alert = document.getElementById("notificationAlert");
                        if (alert) {
                            setTimeout(() => {
                                const bsAlert = new bootstrap.Alert(alert);
                                bsAlert.close();
                            }, 2000);
                        }
                    });
                </script>
