<% layout='layout' %>
    <% title='Search' %>

        <div class="container text-center mt-4" style="max-width: 420px;">
            <h2 class="mb-4">Enter username to search</h2>

            <% if (typeof error !=='undefined' && error) { %>
                <div class="alert alert-danger text-center">
                    <%= error %>
                </div>
                <% } %>
                    <form action="/users/search" method="POST">
                        <input type="text" name="username" placeholder="Username" required
                            class="form-control form-control-lg rounded-pill mb-3">

                        <button type="submit" class="btn btn-primary btn-lg rounded-pill w-100">Seach</button>

        </div>

        </form>

        <% if (user) { %>
            <div class="container text-center mt-4" style="max-width: 420px;">
                <p>
                    User:
                    <b>
                        <%= user.username %>
                            (<%= user.firstName %>
                                <%= user.lastName %>)
                    </b>
                </p>

                <% if (!friendState) { %>
                    <p>Status: <b>Not Friends</b></p>
                    <form action="/friends/<%= user.id %>" method="POST" style="display:inline;">
                        <input type="hidden" name="redirect" value="search">
                        <button type="submit" class="btn btn-primary">Send Friend Request</button>
                    </form>


                    <% } else if (friendState==='a' ) { %>
                        <p>Status: <b>Friends</b></p>

                        <td><a href="/messages/<%= user.id%>" class="btn btn-primary">Chat</a></td>

                        <td>
                            <form action="/friends/block/<%= user.id %>" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="redirect" value="search">
                                <button type="submit" class="btn btn-warning"> Block </button>
                            </form>
                        </td>

                        <td>
                            <form class="delete-form"
                                messageForConfirm="remove <%= user.username %> from your friend list"
                                action="/friends/delete/<%= user.id%>" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="redirect" value="search">
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>


                        <% } else if (friendState==='p' ) { %>
                            <p>Status: <b>Friend Request Pending</b></p>

                            <td>
                                <form action="/friends/accept/<%= user.id %>" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="redirect" value="search">
                                    <button type="submit" class="btn btn-primary"> Accept </button>
                                </form>
                            </td>

                            <td>
                                <form action="/friends/block/<%= user.id %>" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="redirect" value="search">
                                    <button type="submit" class="btn btn-warning"> Block </button>
                                </form>
                            </td>

                            <td>
                                <form class="delete-form"
                                    messageForConfirm="remove <%= user.username %> from your friend list"
                                    action="/friends/delete/<%= user.id%>" method="POST" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="redirect" value="search">
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>


                            <% } else if (friendState==='b' ) { %>
                                <p>Status: <b>Friend Request Blocked</b></p>

                                <td>
                                    <form action="/friends/accept/<%= user.id %>" method="POST" style="display:inline;">
                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="hidden" name="redirect" value="search">
                                        <button type="submit" class="btn btn-primary">Unblock</button>
                                    </form>
                                </td>

                                <td>
                                    <form class="delete-form"
                                        messageForConfirm="remove <%= user.username %> from your friend list"
                                        action="/friends/delete/<%= user.id%>" method="POST" style="display:inline;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="redirect" value="search">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>

                                <% } else { %>
                                    this is strange??
                                    <% } %>

            </div>
            <% } %>
